<footer class="footer center">
       This website was created by <a href="http://www.twomoulins.fr">Félix Moulin</a>
       and Adrien Schricke
    <nav>
        <ul>
          
        </ul>
    </nav>
</footer>